@model IEnumerable<store.Models.stores>

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-md-center">
    <div class="card col-12">
        <div class="row">
            <div class="card-header bg-dark text-white col-12">
                <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus-circle"></i> Add</a>
            </div>
            <div class="col-sm-12 text-center mt-1">
                <table id="DataTable" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Longitud)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Latitud)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Longitud)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Latitud)
                                </td>
                                <td>
                                    <i data-lat="@Html.DisplayFor(modelItem => item.Latitud)" data-long="@Html.DisplayFor(modelItem => item.Longitud)" class="fas fa-eye text-success btnmodalmap" style="cursor:pointer;"></i>|
                                    <a asp-action="Edit" asp-route-id="@item.IdStore"><i class="far fa-edit text-info"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdStore"><i class="fas fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="Modalmap" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="map" style="height:25rem; width:100%; float:right;"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBLhEJMg5FhoaDRGMFoavTog2tOOh7Qus&libraries=places"></script>
<script src="~/js/mainmodal.js"></script>
